footer{
    width: 100%;
    height: 60px;
    background-color: var(--cor-bolo);
    display: flex;
    align-items: center;
    margin-top: 100px;
}

footer p{
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
}