#mainSection {
    width: 100%;
    height: clamp(240px, 50vw, 1000px);
    background-image: url(../Assets/imagem-secao-bolos.jpg);
    background-size:cover;
    display: flex;
    /*align-items: flex-end;
    justify-content: right;*/
}

#mainSection .legenda{
    margin-top: 5vw;
    margin-left: 10vw;
}


#mainSection div:nth-child(2){
    display: flex;
}

#mainSection h2{
    font-family: 'Aguafina Script', cursive;
    font-size: clamp(64px, 7vw, 96px);
}

#mainSection input {
    background-color: var(--cor-bolo);
    border: none;
    border-radius: 15px;
    font-size: 18px;
    width: 35%;
    height: fit-content;
    padding: 8px 15px;
    margin-left: 20px;
    align-self: center;
    white-space: normal;
}

#mainSection input:hover{
    cursor: pointer;

}

#mainSection input:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#contactSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: clamp(35px, 5vw, 50px) auto;
    /*position: relative;*/
}

.contactIcon img{
    width: clamp(100px, 12vw, 200px);
    height: clamp(100px, 12vw, 200px);
}

.contactIcon img:hover{
    cursor: pointer;
}

#contactSection h3{
    width: fit-content;
    margin: auto;
}

.pinkBallsOne {
    position: absolute;
    right: 0px;
    top: calc(130px + clamp(240px, 50vw, 1000px));
}

@media only screen and (max-width: 820px){
    .pinkBallsOne{
        display: none;
    }
} 

#valuesSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.valueCard{
    width: 220px;
    height: clamp(260px, fit-content, 360px);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .5px solid;
    border-radius: 15px;
    margin-bottom: 20px;
    padding: 20px;
    z-index: 10000;
    background-color: white;
}

.valueCard img{
    width: clamp(100px, 12vw, 220px);
    height: clamp(100px, 12vw, 220px);
}

.valueCard h2{
    font-family: 'Aguafina Script', cursive;
    margin-top: 20px;
}

.valueCard h2,
.valueCard p {
    text-align: center;
}

#valuesSection .valueCard{
    box-shadow: 0px 10px 10px #FF9CCE;
}

#valuesSection .valueCard:first-of-type{
    box-shadow: -5px 10px 10px #FF9CCE;
}

#valuesSection .valueCard:last-of-type{
    box-shadow: 5px 10px 10px #FF9CCE;
}

#aboutUsSection {
    margin-top: 80px;
    position: relative;
}

#aboutUsSection h2{
    font-family: "Aguafina Script", cursive;
    color: var(--cor-bolo);
    width: fit-content;
    margin: 0 auto;
    margin-bottom: clamp(20px, 2vw, 50px);
}

#aboutUsSection p{
    font-size: 24px;
    width: clamp(240px, 60vw, 1400px);
    margin: 0 auto;
    text-align: center;     
}

#aboutUsSection input {
    padding: 5px 8px;
    background-color: var(--cor-bolo);
    border: none;
    border-radius: 5px;
    width: clamp(80px, 5vw, 150px);
    height: clamp(25px, 2vw, 40px);
}

#aboutUsSection div{
    width: fit-content;
    margin: 30px auto;
}

.pinkBallsTwo{
    width: clamp(50px, 12vw, 180px);
    position: absolute;
    top: -200px;
}

@media only screen and (max-width: 515px){
    .pinkBallsTwo{
        display: none;
    }
    .chapeuFesta{
        display: none;
    }
    #valuesSection .valueCard{
        box-shadow: none;
    }
    
    #valuesSection .valueCard:first-of-type{
        box-shadow: none;
    }
    
    #valuesSection .valueCard:last-of-type{
        box-shadow: none;
    }
} 

.chapeuFesta {
    position: absolute;
    right: clamp(0px, 1vw, 50px);
    top: 0px;
}