#mainSection {
    width: 100%;
    height: clamp(240px, 50vw, 1000px);
    background-image: url(../Assets/imagem-secao-bolos.jpg);
    background-size:cover;
    display: flex;
    /*align-items: flex-end;
    justify-content: right;*/
}

#mainSection .legenda{
    margin-top: 5vw;
    margin-left: 10vw;
}


#mainSection div:nth-child(2){
    display: flex;
}

#mainSection h2{
    font-family: 'Aguafina Script', cursive;
    font-size: clamp(64px, 7vw, 96px);
}

#mainSection input {
    background-color: var(--cor-bolo);
    border: none;
    border-radius: 15px;
    font-size: 18px;
    width: 35%;
    height: fit-content;
    padding: 8px 15px;
    margin-left: 20px;
    align-self: center;
    white-space: normal;
}

#mainSection input:hover{
    cursor: pointer;

}

#mainSection input:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
    inset 2px 2px 3px rgba(0, 0, 0, .6);
}

#contactSection {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: clamp(35px, 5vw, 50px) auto;
}

#instagram img,
#whatsapp img,
#facebook img {
    width: clamp(100px, 12vw, 200px);
    height: clamp(100px, 12vw, 200px);
}

#instagram img:hover,
#whatsapp img:hover,
#facebook img:hover {
    cursor: pointer;
}

#contactSection h3{
    width: fit-content;
    margin: auto;
}